.CTA{
  &_container{
    background-image: repeating-linear-gradient(
      -49deg,
      rgba(0, 0, 0, 0.10),
      rgba(0, 0, 0, 0.10) 1px,
      transparent 5px,
      transparent 10px
    );
    position: relative;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -1px;
      width: 0;
      height: 0;
      border-right: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-top: 70px solid #fff; 
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      right: -1px;
      width: 0;
      height: 0;
      border-left: 60px solid transparent;
      border-top: 60px solid transparent;
      border-bottom: 70px solid #fff; 
    }
  }
}